---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const prerender = true;
export async function getStaticPaths() {
	const posts = await getCollection("articles");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}
interface Props {
	post: CollectionEntry<"articles">;
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
	<main>
    <Content />
	</main>
</Layout>
