---
import ArticleList from "../../components/ArticleList.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="ucpr.dev | Articles" noindex={true}>
  <div class="p-4">
    <h2 class="text-xl font-bold underline">Articles</h2>

    <ArticleList omit={false} />
  </div>
</Layout>
