---
import { getCollection } from "astro:content";
import ArticleList from "../../components/ArticleList";
import Layout from "../../layouts/Layout.astro";

const articles = await getCollection("articles");
---

<Layout title="Blog">
  <h2>Blog</h2>

  <ArticleList />
</Layout>
