---
import Layout from "../../layouts/Layout.astro";

const { tag } = Astro.params;

const allArticles = await Astro.glob("../../content/articles/*.md");
const filteredArticles = allArticles.filter((article) =>
	article.frontmatter.tags?.includes(tag),
);
---

<Layout title={`ucpr.dev | tags | ${tag}`}>
  <div class="p-4">
    <h2 class="text-xl font-bold underline">{tag} のタグが付いた記事</h2>


    <ul class="p-3">
      {filteredArticles.map((article) => (
        <li class="py-2">
          <div class="flex">
            <p class="text-xs text-gray-700">{ article.frontmatter.date.split("T",1)[0] }</p>
          </div>
          {/* TODO: なぜか article.url で url 参照できない */}
          {/* @ts-ignore */}
          <a href={`/articles/${article.file.split("/").pop().split(".")[0]}`} class="text-blue-600 hover:text-blue-800">
            { article.frontmatter.title }
          </a>
        </li>
      ))}
    <ul>
    </ul>
  </div>
</Layout>