---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile";
import ArticleList from "../components/ArticleList.astro";
import SpotifyPlaylist from "../components/SpotifyPlaylist";
---

<Layout title="ucpr.dev" noindex={true}>
	<main>
    <Profile 
      iconUrl="https://avatars.githubusercontent.com/u/17886370"
      profileText="Hello World"
    />
    <div class="py-3 px-4">
      <h2 class="text-base font-bold">Recent Articles</h2>
      <ArticleList omit={true} />
    </div>
		<SpotifyPlaylist playlistId="0irS3jb6iHhwCCIoEVYjeV" />
	</main>
</Layout>
