---
import { getCollection } from "astro:content";
import externalContents from "../libs/external-content/external_content.json";

interface Props {
  omit: boolean;
}

type Article = {
	href: string;
	source: string;
	data: {
		title: string;
		date: string;
	};
};

const { omit } = Astro.props;

// get articles from ucpr.dev
const articles = await getCollection("articles");
const allArticles: Article[] = articles.map((article) => {
	return {
		href: `articles/${article.slug}`,
		source: "ucpr.dev",
		data: article.data,
	};
});

// get articles from external source
// merge articles from ucpr.dev and external source.
allArticles.push(
	...externalContents.map((article) => {
		return {
			href: article.url,
			source: article.source,
			data: {
				title: article.title,
				date: article.publishedDate,
			},
		};
	}),
);

// sort articles by date in descending order
allArticles.sort((a, b) => {
	return Date.parse(b.data.date) - Date.parse(a.data.date);
});

if (omit) {
  allArticles.splice(5);
}
---

<ul class="p-3">
  {allArticles.map((article) => (
  <li class="py-2">
    <div class="flex">
      <p class="text-xs text-gray-700">{ article.data.date.split("T",1)[0] }</p>
      {
        article.source !== "ucpr.dev" &&
        (
          <span class="pl-2" />
          <p class="text-xs px-1 text-white text-bold bg-sky-400 rounded border">{ article.source }</p>
        )
      }
    </div>

    {(() => {
      // TODO: refactor
      const isExternal = article.source !== "ucpr.dev";
      if (!isExternal) {
        return (
          <a href={article.href} class="text-blue-600 hover:text-blue-800">
            { article.data.title }
          </a>
        )
      } else {
        return (
          <a href={article.href} target="_blank" rel="noopener" class="text-blue-600 hover:text-blue-800">
            { article.data.title }
          </a>
        )
      }
    })()}
  </li>
  ))}
  {omit && 
  <div class="container mx-auto text-right">
    <a href="/articles" class="text-sm text-blue-600 pr-4 hover:text-blue-800">
      More Articles
    </a>
  </div>
  }
</ul>
