/*
body: #F4F1F6
box: #2F4052
item: #66909E, #E1B9C9
 mozi #E1BBCD
*/

body {
  background-color: #F4F1F6;
  width: 99%;
  height: 80vh;
}

.container {
  height: 90%;
  background: #2F4052;
  border: 2px solid #2F4052;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
  box-shadow: 0px 0px 20px -5px #2f4052; /*(横の位置, 縦の位置, ぼかし, 広がり)*/
  margin: 6%;
  padding: 20%;
}
